body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
}

body {
  background-image: url(images/tielur.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #333;
  color: #fff;
  overflow: hidden;
}

.tielurclub {
  display: none;
}
